/* Button styles */

.btn {
  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    color: var(--dark-grey);
    display: inline-block;
    transition: all 0.3s ease-in-out;
    position: relative;
  }

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 1rem 2rem rgba($color-black, 0.2);

    &::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }

  &:active {
    transform: translateY(-1px);
    box-shadow: 0 0.7rem 1rem rgba($color-black, 0.2);
  }

  &--white {
    background-color: $color-white;
    padding: 1.5rem 4rem;
    border-radius: 10rem;

    &::after {
      background-color: $color-white;
    }
  }

  // Hidden button animation

  &::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s ease-in-out;
    opacity: 0.3;
  }

  // Button animation

  &--animated {
    animation: moveInBottom 0.5s ease-out 0.75s;
    // adds animation properties before page load. Basically hides btn and then uses delay property
    animation-fill-mode: backwards;
  }
}
