/* ------------------------- About Section -------------------------  */

.section-about {
  background-color: $color-gray-light-1;
  padding: 24rem 0;
  margin-top: -20vh;
}

/* ------------------------- Feature Card Section -------------------------  */

.section-features {
  padding: 20rem 0;
  background-image: linear-gradient(to right bottom, rgba($color-primary-light, 0.8), rgba($color-primary-dark, 0.8)), url(../img/nat-4.jpg);
  background-size: cover;
  margin-top: -12rem;
  transform: skewY(-7deg);

  // selects all the direct children of the features
  & > * {
    transform: skewY(7deg);
  }
}

/* ------------------------- Tours Card Section -------------------------  */

.section-tours {
  background-color: $color-gray-light-1;
  padding: 34rem 0 15rem 0;
  margin-top: -12rem;
}

/* ------------------------- Testimonials -------------------------  */

.section-stories {
  padding: 15rem 0;
  position: relative;
}

/* ------------------------- Book Now Section -------------------------  */

.section-book {
  padding: 15rem 0;
  background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
}

.book {
  background-image: linear-gradient(105deg, rgba($color-white, 0.9) 0%, rgba($color-white, 0.9) 50%, transparent 50%), url(../img/nat-10.jpg);
  background-size: cover;
  border-radius: 5px;
  box-shadow: $shadow-default;

  &__form {
    width: 50%;
    padding: 5rem;
  }
}
